<div id="accommodation" class="container pages_show_content">
		

		<div id="main_body">
		<div class="main_body_region full_width_1">
			<div class="full_width">
		<div id="full_width_1_panel_1" class="panel full_width_panel_1">
			<div class="photo_widget widget">

	<div class="gallery_item">
			<%= image_tag 'accommodation.jpg' %>
	</div>
	
</div>
			<div>
				
			</div>
			<div class="content_widget widget" id="">
	<h2>Accommodation</h2>
<p class="p1">All guests are invited to stay in Hartsfield Manor after the wedding. Bedrooms are available in the main house, as well as the surrounding buildings (conference-style accommodation). Prices are as follows:</p>
<p class="p1">Main house:</p>
<ul>
<li>£105 for a double</li>
<li>£95 for a single</li>
</ul>
<p class="p1">Annex buildings:</p>
<ul>
<li>£75 for a double&nbsp;</li>
<li>£65 for a single.&nbsp;</li>
</ul>
<p class="p1">For reservations, please contact Anna Moore:&nbsp;<a href="mailto:amoore@deverevenues.co.uk">amoore@deverevenues.co.uk</a> or call 01483 286507.&nbsp;</p>
<p class="p1"><strong>Arriving</strong></p>
<p class="p1">Check-in time is from 2pm. For guests arriving straight from the ceremony, bags can be dropped in reception and there will be a time to check-in after the meal.</p>
<p class="p1">If you need a base before the ceremony, changing rooms will be available in Hartsfield Manor all morning. Alternatively, early check-in to your bedroom may be available for a small cost (please ask when booking).</p>
<p class="p1">A coach will be travelling from Hartsfield Manor to All Saints’ Church at 12:45, so please indicate in your <a href="/pages/rsvp">RSVP</a> if you would like a space.&nbsp;</p>
<p class="p1"><strong>Leaving</strong></p>
<p class="p1">Please join us for breakfast, served from 8am to 10am. Guests are asked to check out of their rooms by 10am.</p>
<p class="p1">&nbsp;</p>
<p class="p1">For more information see the Hartsfield Manor <a href="http://www.deverevenues.co.uk/locations/hartsfield-manor.html">website</a>.</p>
<div>&nbsp;</div>
</div>
			<div>
				
			</div>
	
	
</div>
</div>						
		</div>
	
	
	
</div> <!-- main_body -->
	</div>