<div id="contact-us" class="container pages_show_content">
		

		<div id="main_body">
		<div class="main_body_region two_thirds_one_third_1">
			<div class="one_third_two_thirds">
	<div class="two_thirds left">
		<div id="two_thirds_one_third_1_panel_1" class="panel two_thirds_one_third_panel_1">
			<div class="photo_widget widget">

	<div class="gallery_item">
			<%= image_tag 'contact_us.jpg' %>
	</div>
	
</div>
			<div>
				
			</div>
	
	
</div>
	</div>
	<div class="one_third right">
		<div id="two_thirds_one_third_1_panel_2" class="panel two_thirds_one_third_panel_2">
			<div class="content_widget widget" id="">
	<h2>Contact Us</h2>
<p><strong>Jenny</strong> <br>07989238522<br>j.c.hibberd@gmail.com</p>
<p><strong>Andrew</strong> <br>07969758989<br> ajpreston85@gmail.com</p>
<p><strong>Richard (best man)</strong> <br>07790089365</p>
<p><strong>Dick and Corrie</strong> <br>02086574562</p>
<p><strong>Ken and Hilary</strong> <br>02892682124</p>
</div>
			<div>
				
			</div>
	
	
</div>
	</div>
	<div class="spacer"></div>
</div>						
		</div>
	
	
	
</div> <!-- main_body -->
	</div>