<div id="home" class="container pages_show_content">
		

		<div id="main_body">
		<div class="main_body_region full_width_1">
			<div class="full_width">
		<div id="full_width_1_panel_1" class="panel full_width_panel_1">
			<div class="photo_widget widget">

	<div class="gallery_item">
		<%= image_tag 'homepage.jpg' %>
	</div>
	
</div>
			<div>
				
			</div>
	
	
</div>
</div>						
		</div>
	
	
	
</div> <!-- main_body -->
	</div>