<div id="photos" class="container pages_show_content">
	<div id="main_body">
		<h2>Photos from our wedding day</h2>
		<%= region('photos') %>
		<p>If you would like to download any of the original images from the photographer, the follow <%= link_to 'this link', 'http://www.onlinepictureproof.com/stephenmark/photostore/albums/14316' %> and use the password <strong>'preston'</strong></p>
	</div>
</div>