<!-- <div id="the_day">
	<div id="main_content" class="container">
		
		<div class="row">
			<div class="span6">
				<%#= image_tag 'all_saints.jpg' %>
			</div>
			<div class="span6">
				<h3>All Saints Church, Sanderstead</h3>
				<p>The Wedding ceremony will take place at:</p>
				<p>
					<strong>
						All Saint's Church<br />
						Onslow Gardens<br />
						Sanderstead<br />
						CR2 9AB
					</strong>
				</p>
				<p>The service will be led by Rev Chris Skilton, Archdeacon of Lambeth.</p>
				<p>Parking is available in the church car park and surrounding roads. For information on how to reach the church, please see Travel.</p>
				<p>The church does not allow the use of confetti, sorry!</p>
			</div>
		</div>

		<div class="row">
			<div class="span6">
				<h3>Hartsfield Manor, Betchworth</h3>
				<p>There will be a reception after the wedding ceremony at:</p>
				<p>
					<strong>
						Hartsfield Manor<br />
						Sandy Lane<br />
						Betchworth<br />
						RH3 7AA
					</strong>
				</p>
				<p>The service will be led by Rev Chris Skilton, Archdeacon of Lambeth.</p>
				<p>Parking is available in the church car park and surrounding roads. For information on how to reach the church, please see Travel.</p>
				<p>The church does not allow the use of confetti, sorry!</p>
			</div>
			<div class="span6">
				<%#= image_tag 'hartsfield.jpg' %>
			</div>
		</div>

	</div>
</div>

 -->






<div id="main_body">
		<div class="main_body_region sixty_forty_1">
			<div class="sixty_forty">
	<div class="sixty left">
		<div id="sixty_forty_1_panel_1" class="panel sixty_forty_panel_1">
			<div class="photo_widget widget">

	<div class="gallery_item">
		<%= image_tag 'all_saints.jpg' %>
	</div>
	
</div>
			<div>
				
			</div>
	
	
</div>
	</div>
	<div class="forty right">
		<div id="sixty_forty_1_panel_2" class="panel sixty_forty_panel_2">
			<div class="content_widget widget" id="">
	<h2>All Saints Church, Sanderstead</h2>
<p>The wedding ceremony will take place at 2pm, at:</p>
<p><strong>All Saint's Church,<br> Onslow Gardens,<br> Sanderstead,<br> CR2 9AB.</strong></p>
<p>The service will be led by Rev Chris Skilton, Archdeacon of Lambeth.</p>
<p>Parking is available in the church car park and surrounding roads. For information on how to reach the church, please see <a title="Travel" href="/pages/travel">Travel</a>.</p>
<p>The church does not allow the use of confetti, sorry!</p>
</div>
			<div>
				
			</div>
	
	
</div>
	</div>
	<div class="spacer"></div>
</div>						
		</div>
	
		<div class="main_body_region forty_sixty_1">
			<div class="forty_sixty">
	<div class="forty left">
		<div id="forty_sixty_1_panel_1" class="panel forty_sixty_panel_1">
			<div class="content_widget widget" id="">
	<h2>Hartsfield Manor, Betchworth</h2>
<p>There will be a reception after the wedding ceremony at:</p>
<p><strong>Hartsfield Manor,<br> Sandy Lane,<br> Betchworth,<br> RH3 7AA</strong></p>
<p>The wedding breakfast will be served quite late in the afternoon, so think about having a bite to eat before the ceremony. The meal will be followed by a ceilidh, so don't forget to bring your dancing shoes!</p>
<p>Hartsfield Manor is a journey of approximately 30 minutes from the church. A coach will be available for guests, so please indicate in your RSVP if you would like a seat. For more information and driving instructions, please see the <a title="Travel" href="/pages/travel">Travel</a> page.</p>
</div>
			<div>
				
			</div>
	
	
</div>
	</div>
	<div class="sixty right">
		<div id="forty_sixty_1_panel_2" class="panel forty_sixty_panel_2">
			<div class="photo_widget widget">

	<div class="gallery_item">
			<%= image_tag 'hartsfield.jpg' %>
	</div>
	
</div>
			<div>
				
			</div>
	
	
</div>
	</div>
	<div class="spacer"></div>
</div>						
		</div>
	
	
	
</div>